PORT=3000
NODE_ENV=development

MONGODB_URI=mongodb://127.0.0.1:27017/blog-app

JWT_SECRET=change-this-to-a-long-random-string
JWT_EXPIRES_IN=7d

IMAGEKIT_PUBLIC_KEY=public_3tAEZiaFrO2faFuIvVkD30Gifh4=
IMAGEKIT_PRIVATE_KEY=private_ZPqCO2coXI4SxTCMBPOv+RRNXDU=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/tadrm7mnd

IMAGEKIT_FOLDER=/blog

CORS_ORIGIN=http://localhost:3000

AUTH_RATE_LIMIT_MAX=30
API_RATE_LIMIT_MAX=500
